header {
  background-color: var(--color-card);
  border-bottom: 1px solid #2a1c21;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: relative;
  z-index: 10;
}

header h1 {
  font-size: 18px;
  color: var(--color-texto);
}

.info-perfil {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-nav {
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 13px;
}

.btn-azul {
  background-color: var(--color-secundario);
  color: #000;
}
.btn-azul:hover {
  background-color: var(--color-acento);
}

.btn-verde {
  background-color: var(--color-acento);
  color: #000;
}
.btn-verde:hover {
  background-color: #ff9900;
}

.btn-salir {
  color: var(--color-texto-mutated);
  font-size: 13px;
}

.btn-salir:hover {
  color: var(--color-primario);
}

/* Contenedor del Iframe */
main iframe {
  background-color: var(--color-fondo);
}

/* Tablas Administrativas */
.tabla-usuarios {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla-usuarios th {
  background-color: #1f1519;
  color: var(--color-secundario);
  text-align: left;
  padding: 12px;
  font-size: 14px;
}

.tabla-usuarios td {
  padding: 12px;
  border-bottom: 1px solid #1f1519;
  font-size: 13px;
}
